@import (reference) "../commons/main";

.error {
  .border-radius(4px);
  background-color: @color_base_white;
  margin-bottom: 30px;
  position: absolute;
}

.error.col-md-7 {
  padding: 0;
}

.error .container .row:first-child {
  .border-radiuses(4px 4px 0 0);
  background-color: @color_base_error;
  color: @color_base_white;
}

.error button {
  position: absolute;
  top: 60px;
  right: 0;
}

.error .container .row:last-child {
  padding-bottom: 30px;
}

.error .container {
  width: 100%;
}

.error.center-content {
  .translate(-50%, -50%);
}
