.createUser {
  background-color: white;
  border-radius: 4px;
  overflow: auto;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
}

.createUser.center-content {
  top: 0;
  transform: translateX(-50%) translateY(-0%);
}

.createUser .container .row:last-child {
  padding-bottom: 60px;
}

.createUser md-input-container {
  padding: 2px;
  margin: 18px 0 8px 30px;
}

.createUser md-input-container input {
  position: relative;
  margin-left: 100px;
  height: 20px;
  top: 6px;
  width: 300px;
  padding: 2px 60px 1px;
}

.createUser form md-input-container label {
  position: absolute;
  top: 0.5px;
  color: white;
  left: 30px;
  background-color: #F08080;
  width: 100px;
  height: 30px;
  border-radius: 16px 0 0 16px;
}

.createUser form md-input-container .arrow {
  width: 0;
  position: absolute;
  left: 142px;
  top: 6.5px;
  height: 0;
  border-top: 11.2px solid transparent;
  z-index: 100;
  border-left: 15px solid #F08080;
  border-bottom: 11.2px solid transparent;
}

.createUser md-input-container.md-input-focused .md-input {
  border-color: #F08080;
  -webkit-transition: border-color ease-in-out 0.5s;
}

.createUser md-input-container.md-input-focused label {
  color: white;
}

.createUser md-input-container .md-placeholder,
md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  -webkit-transform: translate3d(0,6px,0) scale(.75);
  transform: translate3d(0,6px,0) scale(.75);
  -webkit-transition: none;
  transition: none;
  max-width: 100%;
}

.createUser button.md-button {
  display: block;
  background-color: #F08080;
  color: white;
  position: relative;
  width: 375px;
  top: 30px;
  left: 240px;
}

.createUser button.md-button.md-raised:hover {
  background-color: #90EE90;
}
@media (min-width: 1200px) {
  .createUser .container {
    width: 550px;
  }
}
@media (min-width: 920px) {
  .createUser .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .createUser .container {
    width: 550px;
  }
}
@media (max-width: 768px) {
  .createUser form md-input-container .arrow {
    left: 112px;
  }

  .createUser form md-input-container label {
    left: 0;
  }
}
