@import (reference) "../commons/main";

.users {
  .pageContent();
}

.users.center-content {
  top: 0;
  .translate(-50%, -0%);
}

.users .container .row:last-child {
  padding-bottom: 30px;
}

.users md-input-container {
  width: 100%;
  color: @color_base_pink;
  margin: 0;
}

.users md-input-container.md-input-focused .md-input {
  border-color: @color_base_pink;
  .transition(border-color ease-in-out 0.5s);
}

.users md-input-container.md-input-focused label {
  color: @color_base_pink;
}

.users md-input-container .md-placeholder,
md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  .transform(translate3d(0,6px,0) scale(.75));
  .transition(none);
  max-width: 100%;
}

.edit:after {
  .positionTopRight(50%, 15px);
  .transform(translateY(-50%));
  font-family: FontAwesome;
  font-size: 20px;
  content: "\f040";
  color: @color_base_pink;
  cursor: pointer;
}

.users form {
  padding: 40px 10px 16px;
}

.users md-card md-card-title {
  position: relative;
}

.users button .md-button {
  position: absolute;
  left: 50%;
  .transform(translateX(-50%));
}
