*.iml
src/main/webapp/vendor
src/main/webapp/components/commons/*.css
src/main/webapp/components/createUser/*.css
src/main/webapp/components/error/*.css
src/main/webapp/components/home/*.css
src/main/webapp/components/login/*.css
src/main/webapp/components/navbar/*.css
src/main/webapp/components/users/*.css
node_modules
bower_components
node
target
/.idea
*.log
