<div class="login shadows center-content">
  <div class="container">
    <div class="row">
      <md-icon md-svg-src="components/commons/images/ic_account_circle_white_48px.svg" aria-label="login"></md-icon>
    </div>
    <div class="row">
      <form>
        <md-input-container>
          <label>Username</label>
          <input type="text" ng-model="username" />
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="password" />
        </md-input-container>
        <md-checkbox ng-model="rememberMe" aria-label="Remember me">
          Remember me
        </md-checkbox>
        <md-button class="md-raised center-content" ng-click="login()">
          Login
        </md-button>
      </form>
    </div>
  </div>
</div>
