@import (reference) "../commons/main";

.login {
  .border-radius(4px);
  background-color: @color_base_white;
}

.login .container {
  max-width: 600px;
}

.container .row {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.login .container .row:first-child {
  .border-radiuses(4px 4px 0 0);
  background-color: @color_base_pink;
  color: @color_base_white;
}

md-input-container {
  width: 100%;
  color: @color_base_pink;
}

.login md-input-container.md-input-focused .md-input {
  border-color: @color_base_pink;
  .transition(border-color ease-in-out 0.5s);
}

.login md-input-container.md-input-focused label {
  color: @color_base_pink;
}

md-checkbox.md-checked .md-icon {
  background-color: @color_base_pink;
}

md-checkbox .md-icon {
  .transition(linear 0.5s);
}

.login button.md-button {
  display: block;
  background-color: @color_base_pink;
  color: @color_base_white;
  width: 200px;
  position: relative;
}

.login button.md-button.md-raised:hover {
  background-color: @color_button_light_green;
}

.login md-icon {
  .size(60px);
  position: relative;
  top: 15px;
  left: 50%;
  .translate(-50%, -50%);
}

.login.center-content {
  .translate(-50%, 50%);
}
