.login{
  background-color: white;
  border-radius: 4px;
}

.login .container{
    max-width: 600px;
}

.container .row{
  padding-top:30px;
  padding-left: 30px;
  padding-right: 30px;
}

.login .container .row:first-child{
  background-color: #F08080;
  border-radius: 4px 4px 0 0;
  color: white;
}

md-input-container{
  width:100%;
  color: #F08080;
}

.login md-input-container.md-input-focused .md-input{
  border-color: #F08080;
  -webkit-transition: border-color ease-in-out .5s;
}

.login md-input-container.md-input-focused label{
  color: #F08080;
}

 md-checkbox.md-checked .md-icon{
   background-color: #F08080;
}

 md-checkbox .md-icon{
   -webkit-transition: linear .5s;
 }

.login button.md-button{
  display: block;
  background-color: #F08080;
  color: white;
  width: 200px;
  position: relative;
}

.login button.md-button.md-raised:hover{
  background-color: #90EE90;
}

.login md-icon{
  width: 60px;
  height: 60px;
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.login.center-content{
  transform: translateX(-50%) translateY(50%);
}
