@import (reference) "../commons/main";

.home {
  .border-radius(4px);
  background-color: @color_base_white;
  overflow: auto;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
}

.home.center-content {
  top: 0;
  .translate(-50%, -0%);
}

.description {
  border-left: 5px solid @color_base_pink;
  padding-left: 20px;
}

.md-card-image {
  .size(40px);
}

.home .container .row:last-child {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  md-card.col-md-5 {
    width: 48%;
  }
}
