<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
  <a class="brand"></a>
  <md-nav-item md-nav-sref="home" name="page1">
    <md-icon md-svg-src="components/commons/images/ic_home_white_48px.svg" aria-label="login">
    </md-icon>
  </md-nav-item>
  <md-nav-item md-nav-sref="users" name="page2">Users</md-nav-item>
  <md-nav-item md-nav-sref="createUser" name="page3">Create User</md-nav-item>
  <md-menu>
    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
      {{account.firstName}} {{account.lastName}}
      <md-icon md-svg-src="components/commons/images/ic_keyboard_arrow_down_white_48px.svg"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="doSomething()">
          Something else here
        </md-button>
      </md-menu-item>
      <md-menu-divider role="separator"></md-menu-divider>
      <md-menu-item>
        <a href="#/logout">
        <md-button ng-click="doSomething()">
          <md-icon md-svg-src="components/commons/images/ic_exit_to_app_black_48px.svg">
          </md-icon>
          Logout
        </md-button>
        </a>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-nav-bar>
