md-nav-bar .md-nav-bar {
  background-color: #F08080;
  margin-bottom: 20px;
  padding-left: 15px;
}
md-nav-bar .md-button._md-nav-button.md-unselected {
  color: #595453;
}
.md-button.md-accent,
.md-button.md-default-theme.md-accent {
  color: white;
}
md-nav-bar md-nav-ink-bar {
  background-color: white;
}
.brand,
.brand:hover {
  color: white;
  text-decoration: none;
  position: relative;
  width: 65px;
}
.brand:after {
  font-family: FontAwesome;
  font-size: 30px;
  content: "\f19d";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
md-nav-bar md-menu {
  margin-left: auto;
  padding-top: 4px;
}
md-menu md-icon {
  width: 20px;
  height: 20px;
}
.md-button.md-icon-button md-icon {
  display: inline-block;
}
.md-button.md-icon-button {
  width: 125px;
  color: white;
}
.md-button {
  text-transform: none;
  font-weight: 600;
}
