<div class = "error shadows center-content col-md-7">
  <div class="container">
    <div class="row">
      <div class="md-display-2">
        Error {{code}}
      </div>
    </div>
    <button ui-sref = "home" class="md-fab md-primary md-hue-2 md-button md-ink-ripple" type="button" ng-transclude="" aria-label="Profile">
            <md-icon md-svg-src="components/commons/images/ic_home_white_48px.svg" class="ng-scope" aria-hidden="true"></md-icon>
        <div class="md-ripple-container"></div></button>
    <div class="row">
      <div class="md-title">
        Oops! you have come to unauthorised page.
      </div>
    </div>
  </div>
</div>
